.flex {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
}

.frmCadastro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frmInput {
    width: 100%;
    padding: 10px 5px;
    background-color: rgba(250, 250, 250, 0.5);

    border: 2px;
    border-radius: 6px;


    /* texto */
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.frmInput:focus {
    outline: 2px solid rgba(100, 100, 200, 0.8);
    background-color: rgba(250, 250, 250, 0.35);
}

.frmInput::placeholder {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.btnCadastro {
    background-color: rgba(100, 130, 250, 0.2);
    margin: 20px auto;
    padding: 10px 30px;

    border-radius: 8px;
    border: none;

    /* texto */
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(250, 250, 250);
}


.btnCadastro:hover {
    background-color: rgba(100, 130, 250, 0.4);
    border: 2px;
    box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.msgErro {
    color: rgb(250, 100, 100);
    font-size: 1rem;
    margin: 0 0 10px 20px;
}