.frmContato {
    display: flex;
    flex-direction: column;
}

.txtInput {
    display: block;
    background-color: rgba(250, 250, 250, 0.3);
    padding: 10px;
    margin: 4px 4px;

    min-height: 50px;
    max-height: 500px;

    border: 2px;
    border-radius: 6px;

    /* texto */
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);

    /* textarea */
    resize: vertical;

}

.txtInput:focus {
    outline: 2px solid rgba(100, 100, 200, 0.8);
    background-color: rgba(250, 250, 250, 0.35);
}

.txtInput::placeholder {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
}

.btnEnviar {
    background-color: rgba(250, 250, 250, 0.1);
    width: 50%;
    margin: 20px auto 20px;
    padding: 10px;

    border-radius: 8px;
    border: none;

    /* texto */
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(250, 250, 250);
}

.btnEnviar:hover {
    background-color: rgba(100, 140, 180, 0.3);
    box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}